<%- include('includes/head.ejs') %>

<body>
  <%- include('includes/nav.ejs') %>

  <main class="main" id="top">
    <div class="preloader" id="preloader">
      <div class="loader">
        <div class="line-scale">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <section class="container">
      <div class="mt-4">
        <div>
          <h2>Change password</h2>
        </div>
        <% if (errorMessage) { %>
        <div class="form-control">
          <p><%= errorMessage %></p>
        </div>
        <% } %>
        <form action="/password" method="POST">
          <div class="mb-4">
            <input
              type="password"
              class="form-control bg-white"
              placeholder="Enter new paasword"
              name="password"
              id="password"
            />
          </div>
          <div class="mb-4">
            <input
              type="password"
              class="form-control bg-white"
              placeholder="Confirm paasword"
              name="confirm_password"
              id="confirm_password"
            />
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input type="hidden" name="userId" value="<%= userId %>" />
          <input
            type="hidden"
            name="passwordToken"
            value="<%= passwordToken %>"
          />
          <button
            class="btn btn-outline-primary rounded-pill btn-sm border-2 d-block d-lg-inline-block my-3 my-lg-0"
            type="submit"
          >
            Reset Password
          </button>
        </form>
      </div>
    </section>
  </main>
  <%- include('includes/footer.ejs') %> <%- include('includes/end.ejs') %>
</body>
