<%- include('includes/head.ejs') %>

<body>
  <%- include('includes/nav.ejs') %>
  <main class="main" id="top">
    <div class="preloader" id="preloader">
      <div class="loader">
        <div class="line-scale">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="container mt-8">
      <h2 class="text-center">Trade Dashboard</h2>
      <% if (errorMessage) { %>
      <div class="card text-center">
        <p><%= errorMessage %></p>
      </div>
      <% } %>
      <!-- Investment Summary -->
      <div class="card bg-primary p-3 mt-3">
        <h4 class="text-white">
          Total Investment: USDT <%= user.investmentAmount.toFixed(2) %>
        </h4>
        <h4 class="text-white">
          Expected Payout: USDT <%= (user.investmentAmount * 1.5).toFixed(2) %>
        </h4>
        <h4 class="text-white">Payout Date: <%= user.payoutDate %></h4>
      </div>
      <div class="row gap-3 mb-3 mt-3">
        <!-- Deposit Section -->
        <div class="card bg-primary p-3 mt-3 mb-3 col-12 col-md-6 col-lg-6 dwc">
          <h4 class="text-white">Deposit Funds</h4>
          <form action="/deposit" method="POST">
            <small class="text-white">Investment Deposit</small>
            <input
              type="number"
              name="amount"
              class="form-control my-2"
              placeholder="Enter amount to deposit"
              min="0.50"
              step="0.01"
              required
            />
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button
              type="submit"
              class="btn btn-outline-dark bg-secondary rounded-pill mt-3"
            >
              Deposit
            </button>
          </form>
        </div>

        <!-- Withdrawal Request Section -->
        <div class="card bg-primary p-3 mt-3 mb-3 col-12 col-md-6 col-lg-6 dwc">
          <h4 class="text-white">Request Withdrawal</h4>

          <form action="/withdraw" method="POST">
            <small class="text-white">
              Max Withdrawal: USDT <%= user.investmentAmount.toFixed(2) %>
            </small>
            <input
              type="number"
              name="amount"
              class="form-control my-2"
              placeholder="Enter amount to withdraw"
              min="0.01"
              step="0.01"
              max="<%= user.investmentAmount.toFixed(2) %>"
              required
            />

            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

            <button
              type="submit"
              class="btn btn-outline-light bg-primary rounded-pill mt-3"
            >
              Withdraw
            </button>
          </form>
        </div>
      </div>

      <!-- Wallet Balance Section -->
      <div class="card bg-primary p-3 mt-3 mb-3">
        <h4 class="text-white">Wallet Balances</h4>
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <strong>USDT<span> - <%= user.cryptoWallet.USDT %></span>:</strong>
            <span><%= user.balances.USDT %> USDT</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <strong>BTC<span> - <%= user.cryptoWallet.BTC %>:</span></strong>
            <span><%= user.balances.BTC %> BTC</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <strong>ETH<span> - <%= user.cryptoWallet.ETH %>:</span></strong>
            <span><%= user.balances.ETH %> ETH</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <strong>BNB <span>- <%= user.cryptoWallet.BNB %>:</span></strong>
            <span><%= user.balances.BNB %> BNB</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <strong>SOL <span>- <%= user.cryptoWallet.SOL %>:</span></strong>
            <span><%= user.balances.SOL %> SOL</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <strong
              >POLYGON <span>- <%= user.cryptoWallet.POLYGON %>:</span></strong
            >
            <span><%= user.balances.MATIC %> MATIC</span>
          </li>
        </ul>
      </div>

      <div class="row gap-3 mb-3 mt-3 mb-3">
        <div class="card bg-primary p-3 mt-3 col-12 col-md-6 col-lg-6 dwc">
          <h4 class="text-white">Swap Crypto</h4>
          <form action="/swap" method="POST">
            <div class="row">
              <div class="col-6">
                <label class="text-white">From:</label>
                <select name="fromCrypto" class="form-select my-2">
                  <% for (const [crypto, balance] of
                  Object.entries(user.cryptoWallet)) { %>
                  <option value="<%= crypto %>"><%= crypto %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-6">
                <label class="text-white">To:</label>
                <select name="toCrypto" class="form-select my-2">
                  <% for (const crypto of ["BTC", "ETH", "USDT", "BNB", "SOL",
                  "MATIC"]) { %>
                  <option value="<%= crypto %>"><%= crypto %></option>
                  <% } %>
                </select>
              </div>
            </div>

            <input
              type="number"
              name="amount"
              class="form-control my-2"
              placeholder="Amount"
              step="0.0001"
              required
            />
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button
              type="submit"
              class="btn btn-outline-light bg-primary mt-3 rounded-pill mt-3"
            >
              Swap
            </button>
          </form>
        </div>

        <div class="card bg-primary p-3 mt-3 col-12 col-md-6 col-lg-6 dwc">
          <h4 class="text-white">Send Crypto</h4>
          <form action="/send" method="POST">
            <div class="row">
              <div class="col-6">
                <label class="text-white">From:</label>
                <!-- <label class="text-white">Select Crypto:</label> -->
                <select name="cryptoType" class="form-select my-2">
                  <% for (const [crypto, balance] of
                  Object.entries(user.cryptoWallet)) { %>
                  <option value="<%= crypto %>"><%= crypto %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-6">
                <label class="text-white">To:</label>
                <input
                  type="text"
                  name="walletAddress"
                  class="form-control my-2"
                  placeholder="Wallet Address"
                />
              </div>
              <div class="col-6">
                <input
                  type="number"
                  name="amount"
                  class="form-control my-2"
                  placeholder="Amount to Send"
                  step="0.0001"
                  required
                />
              </div>

              <div class="col-6">
                <input
                  type="text"
                  name="sendCryptoType"
                  class="form-control my-2"
                  placeholder="crypto Type"
                />
              </div>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button
              type="submit"
              class="btn btn-outline-light bg-primary rounded-pill mt-3"
            >
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>
  <%- include('includes/footer.ejs') %> <%- include('includes/end.ejs') %>
</body>
